; [include]
;   path = ~/dotfiles/.gitconfig

[user]
  email = dark.hades.1102@gmail.com
  name = Dark.Hades

[core]
  editor = vi
  filemode = false
  autocrlf = false
  pager = less -r
  quotepath = false

[push]
  default = matching

[color]
  ui = auto
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold

[diff]
  tool = vimdiff

[merge]
  tool = vimdiff

[alias]
  logf = log --pretty=format:'%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
  logp = logf -p
  logs = logf --stat --decorate=short
  logg = logf --graph --date=short --decorate=short
  logm = logf --merges
  uiau = update-index --assume-unchanged
  uinau = update-index --no-assume-unchanged
