; [include]
;   path = ~/dotfiles/.gitconfig

[user]
  email = dark.hades.1102@gmail.com
  name = Dark.Hades

[core]
  editor = vi
  filemode = false
  autocrlf = false
  pager = less -r
  quotepath = false

[push]
  default = matching

[color]
  ui = auto
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold

[diff]
  tool = vimdiff

[merge]
  tool = vimdiff

[alias]
  l = log -p --pretty=format:'%C(yellow)%h %C(cyan)%cd %Cblue%cn %Creset%s'
  ld = log --date=short --pretty=format:'%C(yellow)%h %C(cyan)%cd %Cblue%cn %Creset%s'
  ll = log --stat --decorate=short --pretty=format:'%C(yellow)%h %C(cyan)%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  lg = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %C(cyan)%cd %Cblue%cn%Cred%d %Creset%s'
  lm = log --merges --pretty=format:'%C(yellow)%h %C(cyan)%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  uiau = update-index --assume-unchanged
  uinau = update-index --no-assume-unchanged

