#[user]
#  email = dark.hades.1102@gmail.com
#  name = Dark.Hades

[core]
  editor = vim
  filemode = false
  autocrlf = false
  pager = less -r
  quotepath = false
  compression = 0

[push]
  default = matching

[color]
  ui = auto
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold

[diff]
  tool = vimdiff

[merge]
  tool = vimdiff

[alias]
  # Log
  logd = log --pretty=format:'%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
  logp = log --pretty=format:'%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso -p
  logs = log --pretty=format:'%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso --stat --decorate=short
  logg = log --pretty=format:'%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso --graph --date=short --decorate=short
  logm = log --pretty=format:'%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso --merges

  uiau = update-index --assume-unchanged
  uinau = update-index --no-assume-unchanged
