[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
	ignore = dirty
[submodule ".vim/autoload/vim-pathogen"]
	path = .vim/autoload/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-cpp-enhanced-highlight"]
	path = .vim/pack/plugins/start/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/editorconfig-vim"]
	path = .vim/pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-monokai"]
	path = .vim/pack/plugins/start/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-easy-align"]
	path = .vim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-json"]
	path = .vim/pack/plugins/start/vim-json
	url = https://github.com/elzr/vim-json.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-indent-guides"]
	path = .vim/pack/plugins/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
	ignore = dirty
[submodule ".vim/pack/plugins/supertab"]
	path = .vim/pack/plugins/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/supertab"]
	path = .vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/Conque-GDB"]
	path = .vim/pack/plugins/start/Conque-GDB
	url = https://github.com/vim-scripts/Conque-GDB.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-closetag"]
	path = .vim/pack/plugins/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/tcomment_vim"]
	path = .vim/pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-multiple-cursors"]
	path = .vim/pack/plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-cpp"]
	path = .vim/pack/plugins/start/vim-cpp
	url = https://github.com/vim-jp/vim-cpp.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/ultisnips"]
	path = .vim/pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-snippets"]
	path = .vim/pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/ag.vim"]
	path = .vim/pack/plugins/start/ag.vim
	url = https://github.com/rking/ag.vim.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/PHP-Indenting-for-VIm"]
	path = .vim/pack/plugins/start/PHP-Indenting-for-VIm
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/asyncrun.vim"]
	path = .vim/pack/plugins/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-better-whitespace"]
	path = .vim/pack/plugins/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/auto-pairs"]
	path = .vim/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/lightline-ale"]
	path = .vim/pack/plugins/start/lightline-ale
	url = https://github.com/maximbaz/lightline-ale.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-buftabline"]
	path = .vim/pack/plugins/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/nerdtree-git-plugin"]
	path = .vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
	ignore = dirty
[submodule ".tmux/oh-my-tmux"]
	path = .tmux/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
	ignore = dirty
[submodule ".tmux/plugins/tmux-pain-control"]
	path = .tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control.git
	ignore = dirty
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-matchup"]
	path = .vim/pack/plugins/start/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/php.vim"]
	path = .vim/pack/plugins/start/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/MatchTagAlways"]
	path = .vim/pack/plugins/start/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/Colorizer"]
	path = .vim/pack/plugins/start/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/undotree"]
	path = .vim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/vim-lsc"]
	path = .vim/pack/plugins/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
	ignore = dirty
[submodule ".vim/pack/plugins/start/VimCompletesMe"]
	path = .vim/pack/plugins/start/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule ".vim/pack/plugins/start/vim-fifs"]
	path = .vim/pack/plugins/start/vim-fifs
	url = https://github.com/HadesD/vim-fifs.git
[submodule ".vim/pack/plugins/start/vim-dispatch"]
	path = .vim/pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/pack/plugins/start/vim-power-mode"]
	path = .vim/pack/plugins/start/vim-power-mode
	url = https://github.com/HadesD/vim-power-mode.git
