[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
    ignore = dirty
[submodule "plugins/tmux-resurrect"]
	path = plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "plugins/vim-tmux-navigator"]
	path = plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
